.header { position:relative; width:100%; padding:20px 10%; background:transparent; display:flex; justify-content:space-between; align-items:center; z-index:100;}
*{ margin:0; padding:0; box-sizing:border-box; font-family:'Poppins', sans-serif;}
body{ background-image:url('bckg.png'); height:100vh; background-size:cover; background-repeat:no-repeat;}
.logo{ font-size:32px; color:#aeb1b4; font-weight:900; transition:.3s;}
.navbar a{ margin-left:35px; color:white; font-weight:700; text-decoration:none;}
.navbar a:hover,.navbar a.active{ color:#f3c91f;}
.home{ width:100%; min-height:100vh; display:flex; justify-content:center; align-items:center;}
.home-content{ display:flex; flex-direction:column; align-items:center; background: rgba(222, 88, 16, 0.644); padding:30px; border-radius:15px; color:white;}
.home-content h1{ font-size:36px; margin-bottom:20px;}
.subject-grid{ display:flex; flex-wrap:wrap; justify-content:center; gap:40px; margin-top:30px;}
.subject-btn{ display:flex; justify-content:center; align-items:center; width:150px; height:150px; border:3px solid #ffffff; color:white; font-size:20px; font-weight:700; text-decoration:none; border-radius:12px; transition:.3s; text-align:center;}
.subject-btn:hover{ background-color:#f3c91f; color:#000; transform:scale(1.05);}
.home-content button{ background:none; border:2px solid #ffffff; color:white; font-size:20px; padding:10px 25px; cursor:pointer; border-radius:12px; margin-top:10px; transition:.3s;}
.home-content button:hover{ background-color:#f3c91f; color:#000;}
.subject-btna{ display:flex; justify-content:center; align-items:center; width:150px; height:150px; border:3px solid #ffffff; color:white; font-size:20px; font-weight:700; text-decoration:none; border-radius:12px; transition:.3s; text-align:center;}
.subject-btna:hover{ background-color:#0320dc; color:#000; transform:scale(1.05);}
.subject-btnb{ display:flex; justify-content:center; align-items:center; width:150px; height:150px; border:3px solid #ffffff; color:white; font-size:20px; font-weight:700; text-decoration:none; border-radius:12px; transition:.3s; text-align:center;}
.subject-btnb:hover{ background-color:#008f1d; color:#000; transform:scale(1.05);}
.subject-btnc{ display:flex; justify-content:center; align-items:center; width:150px; height:150px; border:3px solid #ffffff; color:white; font-size:20px; font-weight:700; text-decoration:none; border-radius:12px; transition:.3s; text-align:center;}
.subject-btnc:hover{ background-color:#eedd49; color:#000; transform:scale(1.05);}
.subject-btnd{ display:flex; justify-content:center; align-items:center; width:150px; height:150px; border:3px solid #ffffff; color:white; font-size:20px; font-weight:700; text-decoration:none; border-radius:12px; transition:.3s; text-align:center;}
.subject-btnd:hover{ background-color:#c0181b; color:#000; transform:scale(1.05);}
.subject-btne{ display:flex; justify-content:center; align-items:center; width:150px; height:150px; border:3px solid #ffffff; color:white; font-size:20px; font-weight:700; text-decoration:none; border-radius:12px; transition:.3s; text-align:center;}
.subject-btne:hover{ background-color:#b7109e; color:#000; transform:scale(1.05);}

.answer {
    border: 1px solid #ffffff;
    padding: 15px;
    margin: 12px 0;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.answer:hover {
    background: #008cff;
}

.correct {
    border-color: #00ff88;
    color: #00ff88;
}

.wrong {
    border-color: #ff4d4d;
    color: #ff4d4d;
}

.quiz-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#video-btn {
    display: block;
    margin: 20px auto;
}


/* FORCE CENTER VIDEO + DONE BUTTON */
#video-section1 {
    width: 100%;
    display: block;
    text-align: center;
}

#video-section1 iframe {
    display: block;
    margin: 0 auto;
}

#video-btn1 {
    display: inline-block;
    margin: 20px auto 0 auto;
}
