.header{ position:relative; width:100%; padding:20px 10%; background:transparent; display:flex; justify-content:space-between; align-items:center; z-index:100;}
*{ margin:0; padding:0; box-sizing:border-box; font-family:'Poppins', sans-serif;}
body{ background-image:url('bckg.png'); height:100vh; background-size:cover; background-repeat:no-repeat;}
.logo{ font-size:32px; color:#aeb1b4; font-weight:900; transition:.3s;}
.navbar a{ margin-left:35px; color:white; font-weight:700; text-decoration:none;}
.navbar a:hover,.navbar a.active{ color:#f3c91f;}
.redeem-section{ text-align:center; padding-top:120px; color:white;}
.redeem-section button{ display:block; margin:15px auto; padding:15px 25px; font-size:20px; cursor:pointer; background:none; border:2px solid #ffffff; color:white; border-radius:12px; transition:.3s;}
.redeem-section button:hover{ background-color:#f3c91f; color:#000;}
.home-content2{ display:flex; flex-direction:column; align-items:center; background: rgba(222, 88, 16, 0.644); padding:30px; border-radius:15px; color:white;}
