.header { position:relative; width:100%; padding:20px 10%; background:transparent; display:flex; justify-content:space-between; align-items:center; z-index:100; }
*{ margin:0; padding:0; box-sizing:border-box; font-family:'Poppins', sans-serif; }
body{ background-image:url('bckg.png'); height:100vh; background-size:cover; background-repeat:no-repeat; }
.logo{ font-size:32px; color:#aeb1b4; font-weight:900; transition:.3s; }
.navbar a{ margin-left:35px; color:white; font-weight:700; text-decoration:none; }
.navbar a:hover,.navbar a.active{ color:#f3c91f; }
.home{ width:100%; min-height:100vh; display:flex; justify-content:center; align-items:center; }
.home-content{ display:flex; flex-direction:column; align-items:center; }
.start-btn{ background:none; border:none; color:white; font-size:78px; font-family:cursive; cursor:pointer; transition:.3s; text-shadow:0 0 10px rgba(0,0,0,0.5);}
.start-btn:hover{ color:#f3c91f; transform:scale(1.05);}
